@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-black-outline {
    -webkit-text-stroke: 0.35px black; /* for WebKit (Safari, Chrome) */
    text-stroke: 0.35px black; /* for other browsers */
  }
.outline-black-outline-title
{
    -webkit-text-stroke: 0.75px black; /* for WebKit (Safari, Chrome) */
    text-stroke: 0.75px black; /* for other browsers */
  }

  textarea {
    resize: none; 
}

@keyframes upload {
    0% { content: "Uploading"; }
    33% { content: "Uploading."; }
    66% { content: "Uploading.."; }
    100% { content: "Uploading..."; }
}

.uploading-animation::after {
    content: "Uploading";
    animation: upload 1s infinite;
}

.container_videos::-webkit-scrollbar {
  display: none; /* for WebKit (Safari, Chrome) */
}
.container_videos {
  -ms-overflow-style: none;  /* for other browsers */
  scrollbar-width: none; 
}

.container_comments::-webkit-scrollbar {
  display: none; /* for WebKit (Safari, Chrome) */
}
.container_comments {
  -ms-overflow-style: none;  /* for other browsers */
  scrollbar-width: none; 
}

.container_text {
  word-break: break-word; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 10; 
  -webkit-box-orient: vertical; 
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
  border: 3px dashed blue; 
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.7);
}

.map-placeholder {
  background: url('/landscape.png') no-repeat center center;
  background-size: cover;
}