@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-black-outline {
    -webkit-text-stroke: 0.35px black; /* For WebKit (Safari, Chrome) */
    text-stroke: 0.35px black; /* For other browsers */
  }
.outline-black-outline-title
{
    -webkit-text-stroke: 0.75px black; /* For WebKit (Safari, Chrome) */
    text-stroke: 0.75px black; /* For other browsers */
  }